/* 與log-in.css重複的class、RWD設定就不再寫一遍了 */

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Noto Sans';
  color: #301111;
}

.content__item {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.content__item label {
  font-size: 32px;
  line-height: 49px;
}

.content__item input {
  font-size: 24px;
  line-height: 33px;
  padding: 2% 0;
  background-color: #f3efe2;
  border: none;
  border-bottom: 1px solid #301111;
}

.content__item input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.content__button {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 5%;
  padding: 2% 0;
  border: none;
  background: #559a69;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.content__button:hover {
  background: #129647;
}

.content__link {
  display: flex;
  justify-content: center;
  margin: 2% 5%;
  text-decoration: none;
  color: #301111;
  font-size: 24px;
  line-height: 33px;
}

.content__link:active {
  color: #559a69;
}