@import 'base/reset';
@import 'base/font';

@import 'variable/color';

@import 'mixin/rwd';

// nav-page
@import 'layout/nav-page__nav';
@import 'layout/nav-page__main';
@import 'layout/nav-page__main2';

//location
@import 'layout/location__header';
@import 'layout/location__main';
@import 'layout/location__main2';
@import 'layout/location__main3';
@import 'layout/location__footer';