.fmain2 {
    width: 100%;
    height: 970px;
    background-color: $color__block2;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .fmain2__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 505px;
            height: 320px;

            margin-right: 223px;
            margin-top: 20px;

            .img {
                margin-right: 25px;

                img {
                    width: 190px;
                    height: 320px;
                }
            }

            .text {

                .text-h1 {
                    width: 290px;
                    height: 50px;

                    h1 {
                        font-size: 40px;
                        color: $color__aux;
                        font-family: $notoTC;
                    }
                }

                .text-p {
                    width: 290px;
                    height: 160px;

                    p {
                        font-size: 22px;
                        color: $color__font;
                        font-family: $notoTC;
                        line-height: 40px;
                    }
                }
            }
        }

        .fmain2__right {
            width: 866px;
            height: 709px;
            // background-color: rgba(49, 255, 255, 0.2);

            margin-top: 106px;

            .fmain2__box-groups {
                width: 876px;
                height: 709px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                overflow: hidden;

                .top-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .box1 {
                        position: relative;
                        top: 60px;
                        margin-left: 6px;
                    }

                    .box2 {
                        margin-top: 36.5px;
                        transform: translateX(-17px);
                    }
                }

                .down-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    margin-top: -20px;

                    .box3 {
                        margin-left: -37px;
                        margin-top: -138px;
                    }

                    .box4 {
                        position: relative;
                        top: -34px;
                        left: 39px;
                    }

                }
            }
        }
    }
}