.fmain1 {
    width: 100%;
    height: 25.75rem;
    background-color: $color__white;

    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 37.5rem;
        height: 14.375rem;

        display: flex;
        align-items: center;
        justify-content: center;

        .fmain1__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 1.0625rem;

            h1 {
                font-size: 3.75rem;
                color: $color__aux;
                font-family: $openSans;
                margin-bottom: 1.75rem;
                line-height: 5.125rem;
                font-weight: 400;
            }

            .p__container {
                width: 37.5rem;
                height: 7.5rem;

                p {
                    font-size: 1.375rem;
                    color: $color__font;
                    font-family: $notoTC;
                    line-height: 2.5rem;
                }
            }
        }
    }
}