.fheader {
    width: 100%;
    height: 25rem;
    background-color: $color__block1;

    .nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;

        &__container {
            background-color: transparent;
            display: flex;
            max-width: 90%;
            height: 20vh;
            margin: auto;
            align-items: center;

            .nav__logo {
                background-color: transparent;
                padding-left: 5vw;
                flex: 6;

                a {
                    img {
                        width: 5.125rem;
                        height: 3.5625rem;
                    }
                }
            }

            .nav__navlinks {

                background-color: transparent;
                flex: 7;
                display: flex;
                justify-content: space-around;

                li {
                    display: flex;
                    font-family: $notoTC;

                    i {
                        font-size: 1rem;
                        margin-right: -1.1rem;
                        transform: scale(0);
                        transition: 450ms;
                    }

                    &:hover i {
                        margin-right: 0;
                        display: block;
                        transform: scale(1.2);
                    }

                    a {
                        text-decoration: none;
                        color: $color__font;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    &__right {
        max-width: 50vw;
        height: 25rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;

        img {
            opacity: 0.1;
        }
    }

    &__text {
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        .fheader__text-box {
            width: 26.0625rem;
            height: 10.375rem;
            color: $color__aux;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 13rem;

            p {
                font-size: 1.375rem;
                font-family: $notoTC;
            }

            h1 {
                font-size: 5rem;
                font-family: $openSans;
                font-weight: bold;
                margin-top: 0.875rem;
                position: relative;

                &::after {
                    content: '';
                    width: 6.625rem;
                    height: 0.1875rem;
                    background-color: $color__aux;
                    position: absolute;
                    bottom: -1.6875rem;
                    left: 3.4375rem;
                }
            }
        }
    }
}

.green-part {
    max-width: 100vw;
    height: 3.4375rem;
    background-color: $color__aux;
}