.fmain1 {
    width: 100%;
    height: 412px;
    background-color: $color__white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .fmain1__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 111px;

            h1 {
                font-size: 60px;
                color: $color__aux;
                font-family: $openSans;
                text-shadow: 0 4px 4px rgb(221, 213, 213);
                margin-bottom: 52px;
            }

            p {
                font-size: 22px;
                color: $color__font;
                font-family: $notoTC;
                margin-bottom: 27px;

                &:last-child {
                    margin-right: 353px;
                }
            }
        }
    }
}