.fmain3 {
    min-height: 800px;
    background-color: $color__white;

    // .triangle {
    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 112px 81px 0 81px;
    //     border-color: $color__white transparent transparent transparent;
    //     transform: translateX(-714px);
    // }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .fmain3__left-step02 {
            width: 26.302083333333333333%;
            min-height: 320px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            position: relative;

            margin-top: -119px;

            .img {
                width: 28.44311377245508982%;
                margin-right: 10.204081632653061224%;
            }

            .text {
                transform: translateY(10px);

                .h1 {
                    width: 250px;
                    font-size: 4.2vmin;
                    color: $color__aux;
                    font-weight: 400;
                    font-family: $notoTC;
                    line-height: 50px;

                    margin-bottom: 10px;
                }

                .p {
                    width: 290px;
                    font-size: 2.3vmin;
                    color: $color__font;
                    font-family: $notoTC;
                    line-height: 40px;
                }
            }
        }

        .fmain3__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 49.583333333333333333%;

            margin-top: 113px;

            .cube {
                width: 37.394067796610169492%;
                min-height: 222px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position: relative;

                .img {
                    height: 222px;

                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .p {
                    font-size: 2.3vmin;
                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 40px;
                    position: absolute;
                }

                .p1 {
                    width: 239px;
                    height: 120px;
                    top: 21px;
                    left: 66px;
                }

                .p2 {
                    width: 153px;
                    height: 160px;
                    top: 21px;
                    left: 66px;
                }

                .p3 {
                    width: 210px;
                    height: 80px;
                    top: 22px;
                    left: 66px;
                }
            }
        }
    }
}