.gmain2 {
    min-height: 1081px;
    background-color: $color__main;

    .gmain2__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gmain2__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            width: 46.5625%;
            min-height: 190px;

            margin-top: 111px;

            .left-img-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 12.5%;
                min-height: 190px;

                //寫死
                margin-top: 43px;
                margin-right: 131px;

                .left {
                    // 寫死
                    margin-right: 8.82px;
                    transform: translateY(5px);
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .p {
                        font-family: $notoTC;
                        font-weight: 400;
                        line-height: 54px;
                        transform: translateY(-35px);
                        font-size: 4.2vmin;
                    }
                }
            }

            .right-p {
                //寫死
                width: 594px;
                font-family: $notoTC;
                font-weight: 400;
                line-height: 40px;
                font-size: 2.4vmin;                
            }
        }

        .gmain2__down {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80.260416666666666667%;
            min-height: 610px;
            margin-top: 60px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 31.492660442337658936%;
                min-height: 610px;
                background-color: #fff;

                .title {
                    width: 79.209979209979209979%;
                    min-height: 35px;
                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 35px;
                    text-align: center;
                    margin-top: -60px;
                    margin-bottom: 38px;
                    font-size: 2.8vmin;
                }

                .line {
                    width: 79.209979209979209979%;
                    min-height: 3px;
                    background-color: $color__footer;
                    margin-bottom: 38px;
                }

                .img {
                    width: 79.209979209979209979%;
                    margin-bottom: 38px;
                }

                .p {
                    width: 79.209979209979209979%;
                    min-height: 90px;
                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 30px;
                    font-size: 2.8vmin;
                }
            }
        }
    }
}