.gmain4 {
    min-height: 841px;
    background-color: $color__block1;

    @include mobile {
        min-height: 1712px;
    }

    .gmain4__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .gmain4__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 24.6875%;
            min-height: 315px;

            margin-top: 301px;

            // 寫死
            width: 100%;
            margin-right: 40px;

            @include mobile {
                margin-top: 111px;
            }

            .left-img-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 12.5%;
                min-height: 190px;
                // 寫死
                margin-right: 113.2px;

                @include mobile {
                    width: 100%;
                    margin-right: -20px;
                }

                .left {
                    // 寫死
                    margin-right: 8.82px;
                    transform: translateY(5px);
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .p {
                        font-family: $notoTC;
                        font-weight: 400;
                        line-height: 54px;
                        transform: translateY(-35px);
                        font-size: 4.3vmin;

                        @include mobile {
                            font-size: 5.3vmin;
                        }
                    }
                }
            }

            .right-text {
                // 寫死
                width: 213px;
                font-family: $notoTC;
                font-weight: 400;
                line-height: 40px;
                font-size: 2.4vmin;

                @include mobile {
                    width: 100%;
                    font-size: 2.9vmin;
                }
            }
        }

        .gmain4__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 52.7%;
            min-height: 610px;

            margin-top: 111px;

            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                margin-top: -41px;
            }

            .card {
                width: 48.00002336201%;
                min-height: 610px;
                background-color: $color__white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 481px;
                    margin-bottom: 40px;
                }

                .title {
                    max-width: 381px;
                    width: 100%;
                    min-height: 35px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 35px;
                    font-size: 2.8vmin;

                    margin-bottom: 38px;
                    margin-top: -15px;

                    position: relative;

                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        width: 32.02099737532808399%;
                        min-height: 3px;
                        background-color: $color__footer;
                    }

                    &::before {
                        margin-right: 67.454068241469816273%;
                    }

                    &::after {
                        margin-left: 67.454068241469816273%;
                    }

                    @include mobile {
                        font-size: 3.4vmin;
                    }
                }

                #card-title2 {
                    margin-top: -18px;
                }

                .img {
                    width: 100%;
                    max-width: 381px;
                    margin-bottom: 38px;
                }

                .text {
                    width: 79.21%;
                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 30px;
                    font-size: 2.2vmin;

                    @include mobile {
                        font-size: 2.9vmin;
                    }
                }
            }
        }
    }
}