.gmain3 {
    width: 100%;
    height: 75.125rem;
    background-color: #fff;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-bottom: 6.8125rem;

        .description__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 6.9375rem;

            .left-img__container {
                width: 11.875rem;
                height: 17.5rem;
                transform: translateY(-1.3125rem);

                margin-right: 2rem;

                img {
                    width: 11.875rem;
                    height: 17.5rem;
                }
            }

            .text__container {
                width: 37.5rem;
                height: 5rem;
                transform: translateY(0.625rem);

                p {
                    font-size: 1.375rem;
                    color: $color__font;
                    font-family: $notoTC;
                    margin-bottom: 1.125rem;
                }
            }

            .right-img__container {
                width: 5.9375rem;
                height: 4.5625rem;
                transform: translateY(3.4375rem);

                margin-left: 1.9375rem;

                img {
                    width: 5.9375rem;
                    height: 4.5625rem;
                }
            }
        }
    }

    &__goods {
        width: 95.625rem;
        height: 41.25rem;

        .goods__container {
            margin-top: 2.5rem;

            .cards-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    margin-left: 3.125rem;
                    margin-right: 3.125rem;

                    .title-img {
                        transform: translateY(-4.375rem);
                    }

                    .img {
                        width: 23.75rem;
                        height: 16.4375rem;

                        transform: translateY(-2.5rem);

                        img {
                            width: 23.75rem;
                            height: 16.4375rem;
                        }
                    }

                    .text {
                        width: 23.75rem;
                        height: 5.625rem;

                        p {
                            font-size: 1.375rem;
                            color: $color__font;
                            font-family: $notoTC;
                            //原生line-height為1.25rem
                            line-height: 1.75rem;
                        }
                    }
                }
            }
        }
    }
}