.gmain4 {
    width: 100%;
    height: 841px;
    background-color: $color__block1;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .left {
            width: 434px;
            height: 315px;

            margin-top: 155px;

            &__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .img {
                    width: 190px;
                    height: 315px;

                    img {
                        width: 190px;
                        height: 315px;
                    }
                }

                .text {
                    width: 213px;
                    height: 240px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transform: translateX(31px);

                    p {
                        font-size: 22px;
                        color: $color__font;
                        font-family: $notoTC;
                        line-height: 34px;
                    }
                }
            }
        }

        .right {
            width: 1002px;
            height: 610px;

            &__container {
                margin-left: 80px;

                
                margin-top: 115px;

                .card-groups {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .card {
                        width: 480px;
                        height: 610px;
                        background-color: #fff;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        box-shadow: 0px 6px 26px rgb(175, 175, 175);

                        &:first-child {
                            margin-right: 40px;
                        }

                        .title {

                            h2 {
                                font-size: 26px;
                                font-family: $notoTC;
                                color: $color__font;
                                font-weight: normal;
                                position: relative;

                                &::before,
                                &::after {
                                    content: "";
                                    width: 122px;
                                    height: 3px;
                                    background-color: $color__footer;
                                }

                                &::before {
                                    position: absolute;
                                    top: 12px;
                                    right: 107px;
                                }


                                &::after {
                                    position: absolute;
                                    top: 12px;
                                    left: 107px;
                                }
                            }
                        }

                        .img {
                            margin-top: 38px;
                            margin-bottom: 38px;


                            img {
                                width: 381px;
                                height: 263px;
                            }
                        }

                        .text {
                            width: 381px;
                            height: 90px;

                            p {
                                font-size: 22px;
                                color: $color__font;
                                font-family: $notoTC;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}