.gmain1 {
    width: 100%;
    height: 412px;
    background-color: $color__white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .gmain1__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 125px;

            h1 {
                font-size: 60px;
                color: $color__aux;
                font-family: $openSans;
                margin-bottom: 52px;
                font-weight: 400;
                line-height: 82px;
            }


            p {
                font-size: 22px;
                color: $color__font;
                font-family: $notoTC;
                margin-bottom: 27px;
            }
        }
    }
}