.gmain2 {
    width: 100%;
    height: 1025px;
    background-color: $color__block2;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gmain2__description {
            width: 100vw;
            height: 249px;

            margin-bottom: 40px;

            .description__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .left-img__container {
                    width: 190px;
                    height: 280px;
                    transform: translateY(-21px);

                    margin-right: 32px;

                    img {
                        width: 190px;
                        height: 280px;
                    }
                }

                .text__container {
                    width: 600px;
                    height: 80px;
                    transform: translateY(10px);

                    p {
                        font-size: 22px;
                        color: $color__font;
                        font-family: $notoTC;
                        margin-bottom: 18px;
                    }
                }

                .right-img__container {
                    width: 95px;
                    height: 73px;
                    transform: translateY(55px);

                    margin-left: 31px;

                    img {
                        width: 95px;
                        height: 73px;
                    }
                }
            }
        }

        .gmain2__goods {
            width: 1523px;
            height: 610px;

            .goods__container {

                .cards-group {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .card {
                        width: 480px;
                        height: 610px;
                        background-color: #fff;
                        box-shadow: 1px 4px 10px rgb(167, 165, 165);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &:nth-child(1) {
                            margin-right: 40px;
                        }

                        &:nth-child(2) {
                            margin-right: 40px;
                        }

                        .title {
                            width: 380px;
                            height: 35px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            transform: translateY(-25px);

                            h2 {
                                font-size: 26px;
                                color: $color__font;
                                font-family: $notoTC;
                                font-weight: 400;
                            }
                        }

                        .img-line {
                            div {
                                width: 380px;
                                height: 3px;
                                background-color: $color__footer;
                                opacity: 0.5;
                            }
                        }

                        .img-photo {
                            width: 380px;
                            height: 263px;

                            transform: translateY(38px);
                        }

                        .text {
                            width: 380px;
                            height: 90px;

                            transform-origin: top;
                            transform: translateY(81px);

                            p {
                                font-size: 22px;
                                color: $color__font;
                                font-family: $notoTC;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}