.gmain3 {
    width: 100%;
    height: 1202px;
    background-color: #fff;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-bottom: 109px;

        .description__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 111px;

            .left-img__container {
                width: 190px;
                height: 280px;
                transform: translateY(-21px);

                margin-right: 32px;

                img {
                    width: 190px;
                    height: 280px;
                }
            }

            .text__container {
                width: 600px;
                height: 80px;
                transform: translateY(10px);

                p {
                    font-size: 22px;
                    color: $color__font;
                    font-family: $notoTC;
                    margin-bottom: 18px;
                }
            }

            .right-img__container {
                width: 95px;
                height: 73px;
                transform: translateY(55px);

                margin-left: 31px;

                img {
                    width: 95px;
                    height: 73px;
                }
            }
        }
    }

    &__goods {
        width: 1530px;
        height: 660px;

        .goods__container {
            margin-top: 40px;

            .cards-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    margin-left: 50px;
                    margin-right: 50px;

                    .title-img {
                        transform: translateY(-70px);
                    }

                    .img {
                        width: 380px;
                        height: 263px;

                        transform: translateY(-40px);

                        img {
                            width: 380px;
                            height: 263px;
                        }
                    }

                    .text {
                        width: 380px;
                        height: 90px;

                        p {
                            font-size: 22px;
                            color: $color__font;
                            font-family: $notoTC;
                            //原生line-height為20px
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}