.gmain3 {
    min-height: 1202px;
    background-color: #fff;

    @include mobile {
        min-height: 2522px;
    }

    .gmain3__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gmain3__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 42.0625%;
            min-height: 190px;

            margin-top: 111px;

            @include mobile {
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }


            .left-img-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 12.5%;
                min-height: 190px;
                //寫死
                margin-right: 131px;

                @include mobile {
                    margin-right: 108px;
                    transform: translateX(55px);
                }

                .left {
                    // 寫死
                    margin-right: 8.82px;
                    transform: translateY(5px);
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .p {
                        font-family: $notoTC;
                        font-weight: 400;
                        line-height: 54px;
                        transform: translateY(-35px);
                        font-size: 4.3vmin;

                        @include mobile {
                            font-size: 40px;
                        }
                    }
                }
            }

            .right-text {
                //寫死
                width: 594px;
                font-family: $notoTC;
                font-weight: 400;
                line-height: 40px;
                font-size: 2.4vmin;

                @include mobile {
                    width: 100%;
                    font-size: 22px;
                }
            }
        }

        .gmain3__down {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 79.7396%;
            min-height: 661px;

            margin-top: 60px;

            @include mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 481px;
                margin-top: 40px;
            }

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 31.6981%;
                min-height: 661px;

                @include mobile {
                    width: 481px;
                }

                // 1920*0.797396=1531.00032
                // 1531.00032*0.316981=485.29801243392
                .title-group {
                    width: 100%;
                    max-width: 382px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-top: -1px;
                    margin-bottom: 38px;

                    .title-background-img {
                        width: 100%;
                        max-width: 382px;
                    }

                    .title-word {
                        position: absolute;
                        font-family: $notoTC;
                        font-weight: 400;
                        line-height: 35px;
                        color: $color__font;
                        font-size: 2.8vmin;

                        @include mobile {
                            font-size: 3.4vmin;
                        }
                    }
                }

                .img {
                    width: 100%;
                    max-width: 381px;
                }

                .p {
                    width: 100%;
                    max-width: 381px;
                    min-height: 90px;
                    font-family: $notoTC;
                    font-weight: 400;
                    line-height: 30px;
                    margin-top: 38px;
                    font-size: 2.4vmin;

                    @include mobile {
                        font-size: 2.9vmin;
                    }
                }
            }

            .line {
                width: 0px;
                height: 661px;
                border-left: 3px dashed $color__footer;

                @include mobile {
                    width: 481px;
                    height: 0;
                    border-left: 0px dashed $color__footer;
                    border-top: 3px dashed $color__footer;
                    margin: 11px 0;
                }
            }
        }
    }
}