.lmain1 {
    min-height: 412px;
    background-color: $color__white;

    display: flex;
    align-items: center;
    justify-content: center;

    .lmain1__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 44px;

        .h1 {
            font-size: 6.3vmin;
            color: $color__aux;
            font-family: $openSans;
            font-weight: 400;
            line-height: 82px;

            margin-bottom: 28px;

            @include mobile{
                font-size: 50px;
            }
        }

        .p {
            width: 51%;
            font-size: 2.4vmin;
            color: $color__font;
            font-family: $notoTC;
            line-height: 40px;

            @include mobile{
                width: 524px;
                height: 120px;
                font-size: 22px;
            }
        }
    }
}