.main {
    max-width: 100vw;
    height: 412px;
    background-color: $color__white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .main__text {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 125px;

            h1 {
                font-size: 60px;
                color: $color__aux;
                font-family: $openSans;
                text-shadow: 0 4px 4px rgb(221, 213, 213);
                margin-bottom: 52px;
            }

            p {
                font-size: 22px;
                color: $color__font;
                font-family: $notoTC;
                margin-bottom: 27px;
            }
        }
    }
}