.main {
    min-height: 100vh;

    .main__card-group {
        max-width: 100vw;
        padding-top: 48%;
        position: relative;
        overflow: hidden;

        .main__card {
            width: 17vw;
            height: 20vh;
            position: absolute;
            bottom: 10%;
            border-radius: 20px;
            background-position: center;
            background-size: cover;
            transition: 3.5s;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    background-image: url('../img/nav-page__main/nav-page__main' + $i +'.jpg');
                    z-index: 0;
                }
            }

            @for $i from 0 through 3 {
                &[data-index='#{$i}'] {
                    left: (55% + (18% * $i));
                }
            }

            &[data-index='0'] {
                width: 100%;
                height: 100vh;
                bottom: 0;
                left: 0;
                border-radius: 0;
                z-index: 1;
            }

            &[data-index='1'] {
                z-index: 2;
            }

            &[data-index='2'] {
                z-index: 4;
            }

            &[data-index='3'] {
                opacity: 0;
            }
        }
    }
}