.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    &__container {
        background-color: transparent;
        display: flex;
        max-width: 90%;
        height: 20vh;
        align-items: center;
        margin: auto;

        .nav__logo {
            background-color: transparent;
            padding-left: 5vw;
            flex: 6;

            a {
                img {
                    width: 82px;
                    height: 57px;
                }
            }
        }

        .nav__navlinks {
            background-color: transparent;
            flex: 7;
            display: flex;
            justify-content: space-around;

            li {
                display: flex;
                font-family: $notoTC;

                transform: translate(49px, 10px);

                i {
                    font-size: 16px;
                    margin-right: -17.6px;
                    transform: scale(0);
                    transition: 450ms;
                }

                &:hover i {
                    margin-right: 0;
                    display: block;
                    transform: scale(1.2);
                }

                a {
                    text-decoration: none;
                    color: $color__font;
                    font-size: 20.8px;
                }
            }

            .bger {
                visibility: hidden;
            }
        }
    }
}