.main2 {
    max-width: 50%;
    position: relative;

    .main2__container {

        .main2__font {
            z-index: 50;
            position: absolute;
            bottom: 118px;
            left: 196px;

            p {
                font-size: 22px;
                color: $color__white;
                line-height: 29.96px;
                font-weight: 100;
                font-family: $notoTC;
                letter-spacing: 4.8px;

                &:nth-child(2) {
                    margin-top: 8px;
                }

                &:nth-child(3) {
                    margin-top: 8px;
                }
            }

            h1 {
                font-family: $openSans;
                color: $color__white;
                font-size: 80px;
                font-weight: extra-bold;
                position: relative;

                margin-top: 14px;
                margin-bottom: 34px;
            }

            .div {

                width: 213px;
                height: 3px;
                background-color: $color__white;
            }
        }
    }
}