.main {
    display: block;
    max-width: 100vw;
    max-height: 100vh;

    &__card-group {
        max-width: 100%;
        padding-top: 53%;
        position: relative;
        overflow: hidden;

        .main__card {
            width: 15.6rem;
            height: 12.5rem;
            position: absolute;
            border: 2px solid red;
            bottom: 3%;
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            transition: 2000ms;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    background-image: url('../img/nav-page__main/nav-page__main' + $i +'.jpg');
                    z-index: 0;
                }
            }

            @for $i from 0 through 3 {
                &[data-index='#{$i}'] {
                    left: (55% + (18% * $i));
                }
            }

            &[data-index='0'] {
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                border-radius: 0;
                box-shadow: none;
                z-index: 1;
            }

            &[data-index='1'] {
                z-index: 2;
            }

            &[data-index='2'] {
                z-index: 4;
            }

            &[data-index='3'] {
                opacity: 0;
            }
        }
    }
}