.header {
    height: 400px;
    background-color: $color__block1;

    position: relative;

    &__right-img {
        display: block;

        width: 50%;
        height: 400px;

        position: absolute;
        right: 0;

        z-index: 2;
        opacity: 0.1;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;

        white-space: nowrap;
        z-index: 3;

        margin-bottom: 26px;

        .header__text-box {
            width: 4.6%;
            min-height: 166px;
            color: $color__aux;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 208px;

            p {
                font-size: 2.2em;
                font-family: sans-serif;
            }

            h1 {
                font-size: 8vmin;
                font-family: sans-serif;
                font-weight: bold;
                margin-top: 14px;
                position: relative;

                &::after {
                    content: '';
                    width: 50%;
                    height: 3px;
                    background-color: $color__aux;

                    position: absolute;
                    bottom: -27px;
                    left: 25%;
                }
            }
        }
    }

    .green-part {
        width: 100%;
        min-height: 55px;
        background-color: $color__aux;
    }
}